*{
	margin: 0;
	padding: 0;
	background-color: beige;
	font-family: garamond;
}

header{
	width: 1350px;
	height: 1420px;
}
img{
	width: 30%;
	height: 25%;
	margin-top: 60px;
	margin-left: 470px;
	border: 10px solid black;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;

}
h1{
	font-size: 50;
	text-align: center;
	background-color: black;
	color: beige;
}
p{
	font-size: 25px;
	width: 1100px;
	padding-left: 8px;
}
div{
	width: 90%;
	margin-left: 10%;
	margin-top: 5%;
}
h2{
	font-size: 35px;
	font-family: Helvetica;
	text-align: left;
}
p#centrar{
	text-align: center;
	background-color: black;
	width: 100%;
	color: beige;
}